@use './core/boilerplate.scss' as *;
@use './core/theme.scss' as *;
@use './tools/utility.scss' as *;

html,
body {
  @include primary-font();
  padding: 0;
  margin: 0;
  font-size: $font-size-base;
  color: $color-text-main;
  background-color: $color-background-neutral-0;
}

a {
  color: inherit;
  text-decoration: none;
}

fieldset {
  padding: 0;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

* {
  box-sizing: border-box;
}

button {
  background: transparent;
  border: 0;
}

/**
GLOBAL PAGE STYLES
**/
.page_wrapper {
  border: 1px solid $color-border-2;
  border-radius: 4px;
  margin: 40px 40px 40px 0;
  padding: 40px;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 80px);
  @include font-size(14);
}

.card {
  border: 1px solid $color-border-2;
  border-radius: 4px;
  padding: 20px;
  margin: 20px 0;
}

hr {
  border: none;
  height: 2px;
  margin: 20px auto;
}

.markdown {
  h1 {
    @include heading-md;
    margin-top: 12px;
    margin-bottom: 24px;
  }
  h2 {
    @include heading-xs;
    margin-top: 12px;
    margin-bottom: 24px;
  }
  h3 {
    @include heading-xxs;
    margin-top: 12px;
    margin-bottom: 24px;
  }
  p {
    @include paragraph-sm;
  }
  a {
    color: $color-interaction-primary;
    @include font-size(14);
  }

  code {
    background-color: black;
    color: white;
  }
}
